[Unit]
Description=MesosMaster
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
EnvironmentFile=/etc/skydns.environment
ExecStartPre=-/usr/bin/docker kill mesos_master
ExecStartPre=-/usr/bin/docker rm mesos_master
ExecStartPre=/usr/bin/docker pull mesosphere/mesos-master:0.28.0-2.0.16.ubuntu1404
ExecStart=/usr/bin/docker run \
  --name=mesos_master-%H \
  --net=host \
  --privileged \
  -e SERVICE_ID=mesos_master-%H \
  -e MESOS_IP=${COREOS_PUBLIC_IPV4} \
  -e MESOS_ZK=zk://zookeeper-2181.${DOMAIN}:2181/mesos \
  -e MESOS_PORT=5050 \
  -e MESOS_QUORUM=1 \
  -e MESOS_WORK_DIR=/var/lib/mesos/master \
  -e MESOS_LOG_DIR=/var/log/mesos/master \
  mesosphere/mesos-master:0.28.0-2.0.16.ubuntu1404
ExecStop=/usr/bin/docker stop mesos_master-%H

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=role=mesos-master
