[Unit]
Description=Registrator internal - flannel network
After=skydns.service
Requires=skydns.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
EnvironmentFile=/etc/skydns.environment
ExecStartPre=-/usr/bin/docker kill registrator_internal-%H
ExecStartPre=-/usr/bin/docker rm registrator_internal-%H
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator
ExecStart=/usr/bin/docker run --name registrator_internal-%H \
  -e SERVICE_ID=registrator_internal-%H \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  -h ${HOSTNAME} \
  gliderlabs/registrator \
  -internal \
  -ttl=30 \
  -ttl-refresh=20 \
  skydns2://${COREOS_PRIVATE_IPV4}:2379/internal.${DOMAIN}
ExecStop=/usr/bin/docker stop registrator_internal-%H

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
