[Unit]
Description=Registrator - host network
After=skydns.service
Requires=skydns.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
EnvironmentFile=/etc/skydns.environment
ExecStartPre=-/usr/bin/docker kill registrator-%H
ExecStartPre=-/usr/bin/docker rm registrator-%H
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator
ExecStart=/usr/bin/docker run --name registrator-%H \
  -e SERVICE_ID=registrator-%H \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  -h ${HOSTNAME} \
  gliderlabs/registrator \
  -ip=${COREOS_PUBLIC_IPV4} \
  -ttl=30 \
  -ttl-refresh=20 \
  skydns2://${COREOS_PRIVATE_IPV4}:2379/${DOMAIN}
ExecStop=/usr/bin/docker stop registrator-%H

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
