[Unit]
Description=Registrator internal - flannel network
After=skydns.service
Requires=skydns.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill registrator_internal
ExecStartPre=-/usr/bin/docker rm registrator_internal
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator
ExecStart=/usr/bin/docker run --name registrator_internal \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  -h ${HOSTNAME} \
  gliderlabs/registrator \
  -internal \
  -ttl=30 \
  -ttl-refresh=20 \
  skydns2://${COREOS_PRIVATE_IPV4}:2379/internal.skydns.local
ExecStop=/usr/bin/docker stop registrator

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
